<!DOCTYPE html>
<html>
    <head>
        <title>About Lowestown</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>        
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{body}}</p>
            <p> This town right 'ere's been powered by Weatherstack and Mapbox's Geocode since before I was born.</p>
            <p> We have David to thank for the peace we got now.</p>
        </div>
            {{>footer}}
    </body>
</html>