<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/public/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
       
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>"Yer a bit strange, but we help anyone we can 'round here. Here's a little somethin' to warm you up from the cold o' the world."</p>
            <p> You have received some gifts</p>
            <ul>
                <li>Sturdy Flask: It looks rough-hewn and dusty, but feels solid in the hand - it'll be a steadfast partner for sure.</li>
                <li> Gunpowder: More than just a catalyst for killing. Useful for many things.</li>
            </ul>
        </div>

        {{>footer}}
    </body>
</html>